---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-executables-have-shebangs
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-docstring-first
      - id: check-toml
      - id: check-yaml
      - id: name-tests-test
        args: [--pytest-test-first]

  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.16.3
    hooks:
      - id: zizmor

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.11.0
    hooks:
      - id: renovate-config-validator

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: pyproject.toml
        name: validate pyproject.toml
        language: system
        entry: poetry check
        files: 'pyproject\.toml'
        pass_filenames: false

      - id: poetry-lock
        name: poetry-lock
        stages: [post-commit, post-merge]
        language: system
        entry: poetry install
        files: 'poetry\.lock'

      - id: version
        name: verify version is set correctly
        language: system
        entry: poetry run pytest --quiet --no-header --no-summary --no-cov -k version
        files: 'pyproject\.toml|downforeveryone/__init__.py'
        pass_filenames: false

      - id: ruff
        name: format python code with ruff
        language: system
        entry: poetry run ruff format
        types: [python]

      - id: ruff
        name: lint python code with ruff
        language: system
        entry: poetry run ruff check --fix
        types: [python]

      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]
