[tool.poetry]
name = "downforeveryone"
version = "0.2.3"
description = "checks if a website is really down via isup.me"
authors = ["Ryan Delaney <ryan.delaney@gmail.com>"]
readme = "README.rst"
repository = "https://github.com/rpdelaney/downforeveryone"
homepage = "https://pypi.org/project/downforeveryone"
classifiers = [
    "Environment :: Console",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3 :: Only",
]

[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.22"

[tool.poetry.dev-dependencies]
mock = "^4.0"
pytest = "^5.4"
pytest-cov = "^2.10"
pytest-mock = "^3.2"
flake8 = "^3.8"
black = "=19.10b0"
mypy = "^0.782"
isort = {version = "^5.3", extras = ["pyproject"]}
flake8-bugbear = "^20.1"
flake8-docstrings = "^1.5"
flake8-breakpoint = "^1.1"
pytest-icdiff = "^0.5"

[tool.poetry.scripts]
isup = 'downforeveryone.isup:main'

[tool.black]
line-length = 79
target_version = ["py38"]

[tool.isort]
combine_star = true
indent='    '
known_first_party = []
known_third_party = ["pytest", "requests"]
length_sort = false
line_length = 79
multi_line_output = 3

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
