[build-system]
requires = [ "poetry>=0.12",]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "downforeveryone"
version = "1.0.0"
description = "checks if a website is really down via isup.me"
authors = [ "Ryan Delaney <ryan.patrick.delaney@protonmail.com>",]
readme = "README.rst"
repository = "https://github.com/rpdelaney/downforeveryone"
homepage = "https://pypi.org/project/downforeveryone"
classifiers = [ "Environment :: Console", "License :: OSI Approved :: Apache Software License", "Programming Language :: Python :: 3 :: Only",]

[tool.black]
line-length = 79
target_version = [ "py38",]

[tool.isort]
combine_star = true
indent = "    "
length_sort = false
line_length = 79
multi_line_output = 3

[tool.poetry.dependencies]
python = ">=3.7, <4"
requests = "^2.22"

[tool.poetry.dev-dependencies]
mock = "^4.0"
pytest = "^6.2"
pytest-cov = "^2.12"
pytest-mock = "^3.6"
flake8 = "^3.9"
black = "21.6b0"
mypy = "^0.910"
flake8-bugbear = "^21.4"
flake8-docstrings = "^1.6"
flake8-breakpoint = "^1.1"
pytest-icdiff = "^0.5"
toml = "^0.10.2"
responses = "^0.13.3"
semver = "^2.13.0"

[tool.poetry.scripts]
isup = "downforeveryone.isup:main"

[tool.pytest.ini_options]
console_output_style = "progress"
addopts = "--cov=downforeveryone"
mock_use_standalone_module = true

[tool.poetry.dev-dependencies.isort]
version = "^5.4"
extras = [ "pyproject",]
