---
name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {}

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.13.3
      - name: Install build & test dependencies
        run: |
          pip3 install --disable-pip-version-check --progress-bar off 'poetry'
          poetry install --no-ansi --no-interaction
      - name: Run linters
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.13.3
      - name: Install build & test dependencies
        run: |
          pip3 install --disable-pip-version-check --progress-bar off 'poetry'
      - name: Cache dependencies
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: ${{ runner.os }}-pip-
      - name: Build & install
        run: |
          poetry build --no-ansi --no-interaction && \
          poetry install --no-ansi --no-interaction
      - name: Run tests
        run: poetry run pytest --full-trace
      - name: Test basic cli elements
        run: |
          ( set -x ; poetry run isup --version )
          ( set -x ; poetry run isup --help )
