---
name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {}

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      - name: Install build & test dependencies
        run: |
          pip3 install --disable-pip-version-check --progress-bar off 'poetry'
          poetry install --no-ansi --no-interaction
      - name: Run linters
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      - name: Install build & test dependencies
        run: |
          pip3 install --disable-pip-version-check --progress-bar off 'poetry'
      - name: Cache dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: ${{ runner.os }}-pip-
      - name: Build & install
        run: |
          poetry build --no-ansi --no-interaction && \
          poetry install --no-ansi --no-interaction
      - name: Run tests
        run: poetry run pytest --full-trace
      - name: Test basic cli elements
        run: |
          ( set -x ; poetry run isup --version )
          ( set -x ; poetry run isup --help )
